body {
    background-image:
        linear-gradient(rgba(255, 235, 255, 0.35),
            rgba(255, 235, 255, 0.25)),
        url("../assets/backgroundImg/zodiacSidaBackground.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 100vh;
    margin: 0;

}