body {
    background-image:
        linear-gradient(rgba(255, 235, 255, 0.35),
            rgba(255, 235, 255, 0.25)),
        url("../assets/backgroundImg/zodiacSidaBackground.png");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    min-height: 100vh;
    margin: 0;

}

#section1 {
    display: flex;
}

#thisParticipantTitel {
    margin: 0;
}

.participantSignDesc {
    display: flex;
}

.sectionRight {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}